MuleLDAPTransport/src/main/resources/META-INF/mule-ldapx.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/ldapx"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/ldapx"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
	<xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

	<xsd:annotation>
		<xsd:documentation>LDAP Transport</xsd:documentation>
		<xsd:appinfo>
			<schemadoc:short-name>Ldapx</schemadoc:short-name>
			<schemadoc:page-title>Ldapx Transport</schemadoc:page-title>
			<schemadoc:transport-features
					receiveEvents="true" dispatchEvents="false" responseEvents="true"
					requestEvents="false" transactions="false" streaming="false">
				<schemadoc:inboundMEPs in-only="true" in-optional-out="true" in-out="true"/>
				<schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
			</schemadoc:transport-features>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element name="connector" type="ldapxConnectorType" substitutionGroup="mule:abstract-connector">
		<xsd:annotation>
			<xsd:documentation>
                LDAP Transport
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:simpleType name="ParameterizedValue">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[$#](\{.*\}|\(.*\)|\[.*\])"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ParameterizedInt">
		<xsd:union memberTypes="xsd:int ParameterizedValue"/>
	</xsd:simpleType>

	<xsd:complexType name="ldapxConnectorType">
		<xsd:complexContent>
			<xsd:extension base="mule:connectorType">
				<xsd:attribute name="ldapHost" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Sets the LDAP host
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ldapPort" type="ParameterizedInt" default="389">
					<xsd:annotation>
						<xsd:documentation>
							Sets the LDAP port
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="loginDN" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Sets the login DN
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="password" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Sets the password
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
					<xsd:attribute name="searchBase" type="xsd:string" default="">
						<xsd:annotation>
							<xsd:documentation>
								Sets LDAP Search base
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="searchScope" default="4">
						<xsd:annotation>
							<xsd:documentation>
								Sets LDAP Search scope (0,1,2 or 4) default 4
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:enumeration value="0" />
								<xsd:enumeration value="1" />
								<xsd:enumeration value="2" />
								<xsd:enumeration value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="dereference" default="0">
						<xsd:annotation>
							<xsd:documentation>
								Sets LDAP dereference (default 0)
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:enumeration value="0" />
								<xsd:enumeration value="1" />
								<xsd:enumeration value="2" />
								<xsd:enumeration value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="maxResults" type="xsd:nonNegativeInteger" default="2147483647">
						<xsd:annotation>
							<xsd:documentation>
								Sets LDAP Max Results
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="timeLimit" type="xsd:nonNegativeInteger" default="0">
						<xsd:annotation>
							<xsd:documentation>
								Sets LDAP time limit
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <!--
    The following define endpoint elements for this transport. Attributes for the endpoint can be defined at the section
    at the bottom
    -->
	<xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
	<xsd:complexType name="inboundEndpointType">
		<xsd:complexContent>
			<xsd:extension base="mule:inboundEndpointType">
				<xsd:attributeGroup ref="addressAttributes"/>
				<xsd:attributeGroup ref="propertyAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
	<xsd:complexType name="outboundEndpointType">
		<xsd:complexContent>
			<xsd:extension base="mule:outboundEndpointType">
				<xsd:attributeGroup ref="addressAttributes"/>
				<xsd:attributeGroup ref="propertyAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
	<xsd:complexType name="globalEndpointType">
		<xsd:complexContent>
			<xsd:extension base="mule:globalEndpointType">
				<xsd:attributeGroup ref="addressAttributes"/>
				<xsd:attributeGroup ref="propertyAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:attributeGroup name="addressAttributes">
    <!--
        TODO define address attributes for this endpoints i.e. queue, host, port, etc
        <xsd:attribute name="foo" type="xsd:string"/>
    -->
	</xsd:attributeGroup>

	<xsd:attributeGroup name="propertyAttributes">
         <!--
        TODO define property attributes for this endpoint. These are properties that can configure the way the
        transport behaves but are not used to create the endpoint address.
        <xsd:attribute name="bar" type="xsd:string"/>
    -->
	</xsd:attributeGroup>

	<xsd:element name="searchresult-to-ldapentry-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="ldapentry-to-string-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="searchresults-to-list-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="message-to-ldapentry-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="ldapentry-to-addrequest-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="string-to-addrequest-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="string-to-deleterequest-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="string-to-searchrequest-transformer" type="ldapStringToSearchRequestTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="ldapentry-to-modifyrequest-transformer" type="ldapTransformerType" substitutionGroup="mule:abstract-transformer" />
	<xsd:element name="message-to-modifyrequest-transformer" type="ldapTransformerType" substitutionGroup="mule:abstract-transformer" />

	<xsd:complexType name="ldapTransformerType">
		<xsd:complexContent>
			<xsd:extension base="mule:abstractTransformerType">
				<xsd:attribute name="ldapConnector-ref" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Sets LDAP Connector
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ldapStringToSearchRequestTransformerType">
		<xsd:complexContent>
			<xsd:extension base="ldapTransformerType">
				<xsd:attribute name="searchBase" type="xsd:string" default="">
					<xsd:annotation>
						<xsd:documentation>
							Sets LDAP Search base
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
